html {
    background-color: #04070a;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #ffffff;
    background-image: url();   
    background: url("/pictures/falmouth2.jpg") no-repeat center fixed; 
    background-size: cover;
    background-color: rgba(54, 125, 196, 0.64);
    border-bottom: 5px solid #04070a;
}

h1, h2, h3, h4, h5, h6 {
    color: #e6e6e6;
    font-weight: 600;
    line-height: 1em;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 10px; 
    padding-left: 0px;
}

h1 {
    text-align:center;
}

h2 {
    margin-left: -0.9em;
    margin-right: -0.4em;
    margin-top: 0;
    margin-bottom: 1;
    font-size: 40px;
    padding-left: 10px;
    border-left: 20px solid #04070a;
    border-bottom: 5px solid #04070a;
    background-color: #303133;
}

table{
    table-layout: fixed;
    width: 900px;
    border-spacing: 5px;
    background-color: #10375f;
    margin-bottom: 2;
    
}

table, th, td {
    border-top: 3px solid #0e1c2a;
    border-collapse: collapse;
    
}

td {
    font-size: 12px;    
    padding: 15px;
}

th {
    padding: 10px;
    background-color: #1a2c3e;
    color: #e6e6e6;
}

a {
    color: #69b3d4;
}

p {
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border-radius: 0px;
    display: block;
    margin: 0em auto;
    max-width: 100%;
}

img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303133;
    border-bottom: 5px solid #04070a;
    border-left: 20px solid #04070a;
    position: fixed;
    top: 0;
    width: 100%;
    
}


li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

li a:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div {
    max-width: 900px;
    background-color: #24629d;
    padding: 1em 1em 4em;
    align: center;
    margin: auto;
}

div.container {
    display:inline-block;
    }

#images {
    padding: 0em 0em 0em;
}

img {
 display:inline;
    style="width:100%";
    border-bottom:  2px solid #04070a;
    border-top:  2px solid #04070a;
    
}


@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}